.FAQ {
    width: 100%;
    max-width: 768px;
    margin: 150px auto 0 auto;
    padding: 25px;
}

.faq {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: black;
    color: white;
    position: relative;
}

.faq.open {
    background-color: #f9f9f9;
    color: black;
}

.faq-question {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Handjet', sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-arrow {
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.faq-arrow.open {
    transform: rotate(180deg);
}

.faq-answer {
    padding-top: 10px;
    font-size: 1.7rem;
    font-family: 'Handjet', sans-serif;
    border-top: 2px solid black;
    margin-top: 10px;
}