/* Gallery.css */

/* General container for the gallery */
.fullscreen-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;  /* Full window width */
  height: 100vh; /* Full window height */
  background: linear-gradient(
    0deg, 
    rgba(102, 102, 102, 0) 0%, 
    rgba(0, 0, 0, 0.6) 0%, 
    rgba(0, 0, 0, 0.5) 40.34%, 
    rgba(0, 0, 0, 0) 72.44%
  ),
  url('../Assets/Gallery_background.png');
  background-size: cover; /* Ensure the background image covers the container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  z-index: -1; /* Ensure it's behind other elements */
}

/* Additional top gradient */
.top-gradient {
  position: absolute;
  width: 10000px;
  height: 150px;
  top: 0px;
  background: linear-gradient(
    96.98deg, 
    rgba(0, 87, 255, 0.8) 13.26%, 
    rgba(0, 255, 255, 0.4) 65.22%
  );
  opacity: 0.3; /* Set opacity to 1 for better visibility */
  border-radius: 20px; /* Add rounded corners for a softer look */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
  z-index: 0; /* Set it below the gallery but above the fullscreen background */
}

.gallery-container {

  position: relative;
  width: 800px;
  margin: auto;
  margin-top: 250px;
  z-index: 1; /* Ensure the gallery is on top of the background */
}
/* Style for the navigation buttons */
.gallery-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
  color: white;
  border: none;
  font-size: 50px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Handjet', sans-serif; 
}

/* Left button */
.gallery-button-left {
  left: -100px;
}

/* Right button */
.gallery-button-right {
  right: -100px;
}

/* Style for the gallery images */
.gallery-image {
  width: 100%;
  height: auto;
}
