/* **************************** */
/*         Section Hero         */
/* **************************** */
.section-hero {
  height: 100vh;
  width: 100vw;
  /* margin-top: 4rem; */
  position: relative;
}

.section-hero::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../Assets/hero_1000px_150ms.gif);
  background-size: cover;
  filter: blur(2px);
}

.hero-content {
  position: relative;
  top: 40%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
}

.hero-logo {
  max-width: 50%;
}

.learn-more-btn:link,
.learn-more-btn:visited {
  background-color: #fff;
  color: #65cbdf;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 15px;
  padding: 0.5rem 2.4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  border: solid 3px #65cbdf;
  text-decoration: none;
}

.learn-more-btn:hover,
.learn-more-btn:active {
  background-color: #65cbdf;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

/* **************************** */
/*       Section Gallery        */
/* **************************** */

.section-gallery {
  height: 90vh;
  width: 100vw;
  background-color: #7bd1fb;
  /* background: linear-gradient(
    180deg,
    rgba(118, 140, 202, 1) 0%,
    rgba(123, 209, 251, 1) 100%
  ); */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.4rem;
}

.section-gallery p {
  color: #2b2d5d;
  font-family: serif;
  font-weight: 700;
  font-size: 2.4rem;
  max-width: 50%;
  margin-top: 3.4rem;
}

.gallery-img {
  width: 50%;
}

.video-box {
  max-width: 80%;
  /* margin: 20px auto; */
}

/* **************************** */
/*       Section CTA        */
/* **************************** */
.section-CTA {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #25264d;
  color: white;
  padding: 20rem;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh; /* Adjust this if you don't want it to cover the full viewport height */
  box-sizing: border-box;
}

.CTA-content {
  max-width: 50%;
  z-index: 2;
}

.CTA-content h1 {
  font-size: 4vw; /* Responsive font size */
  font-weight: bold;
  line-height: 1.2;
}

.CTA-content h1 span {
  color: #c300ff;
}

.CTA-content p {
  font-size: 1.5vw; /* Responsive font size */
  line-height: 1.6;
  margin: 20px 0;
  max-width: 600px; /* Adjust max-width to be responsive */
}

.CTA-text-img {
  width: 30vw; /* Responsive width */
  margin-top: 20px;
}

.CTA-gameboy-img {
  width: 35vw; /* Responsive width */
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.section-CTA::before {
  content: "";
  position: absolute;
  width: 70vw;
  height: 70vw; /* Responsive size */
  background: radial-gradient(circle at center, #6e00a2 0%, transparent 70%);
  top: 50%;
  right: -10%;
  transform: translateY(-50%);
  z-index: 0;
}

/* Main Content */
.hero {
  text-align: center;
  padding: 80px 0 40px;
}

.hero h1 {
  font-family: "Inter", sans-serif;
  font-size: 64px;
  font-weight: 540;
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px #000000;
}

.hero h1 span {
  color: #4a7098;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #e91e63;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #d81b60;
}

.quick-intro {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  max-width: 80%;
  margin: 0 auto 40px;
  line-height: 1.5;
  text-shadow: 2px 2px 2px #000000;
}

/*

.download-button {
  display: block;
  margin: 0 auto;
  background-color: #ffffff;
  color: #5dd3e7;
  border: none;
  padding: 15px 40px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.download-button:hover {
  background-color: #5dd3e7;
  color: #ffffff;
  transform: scale(1.05);
}

.download-button:active {
  transform: scale(0.95);
}

*/

.full-rounded {
  display: block;
  margin: 20px auto;
  padding: 1em 2.5em;
  border: none;
  background: linear-gradient(to right, purple, red);
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 2em;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  text-decoration: none;
}

.full-rounded:active {
  transform: scale(0.95);
}

.full-rounded .border {
  position: absolute;
  border: 0.15em solid #ffffff;
  transition: all 0.3s 0.08s linear;
  top: 50%;
  left: 50%;
  width: 9em;
  height: 3em;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.full-rounded:hover .border {
  display: block;
  width: 9.9em;
  height: 3.7em;
}
