.Navbar {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 910px;
  height: 80px;
  max-width: 2000px;
  padding: 1rem;
  background: linear-gradient(90deg, rgba(59,130,246,0.8) 0%, rgba(16,185,129,0.8) 100%);
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.Shelf {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.Logo-Container img {
  width: 33px;
  height: 36px;
}

.NavBar-Links-Container {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.NavBar-Links-Container a {
  color: white;
  text-decoration: none;
  font-family: 'Handjet', monospace;
  font-size: 30px;
  font-weight: bold;
  transition: color 0.3s ease;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}


.NavBar-Links-Container a:hover,
.NavBar-Links-Container a.active {
  color: #fde047;
}

.NavBar-Links-Container a:first-child {
  color: #fde047;
}


.NavBar-Links-Container a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.SignIn_Button {
  background-color: black;
  color: white;
  border: none;
  width: 128px;
  height: 46px;
  font-family: 'Handjet', monospace;
  font-size: 30px; /* Adjusted to fit within the smaller button size */
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; /* Removed padding since we're setting exact dimensions */
}

.SignIn_Button{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




.SignIn_Button:hover {
  background-color: #333;
}

@media (max-width: 768px) {
  .Navbar {
    width: 95%;
    padding: 0.5rem;
  }

  .Shelf {
    flex-direction: column;
    gap: 1rem;
  }

  .NavBar-Links-Container {
    flex-wrap: wrap;
    justify-content: center;
  }
}