.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    background-color: #1e2124;
    color: white;
    font-family: 'Bebas Neue';
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 30px;
    margin-right: 10px;
  }
  
  .brand-name {
    font-size: 25px;
    font-weight: bold;
  }
  
  .navbar-center a {
    color: white;
    text-decoration: none;
    margin: 0 35px;
    font-size: 25px;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .navbar-center a:hover {
    background-color: #000000;
    transform: scale(1.05) translate(2px);
    color: #5DD3E7; /* Change color on hover */
    border-radius: 5px; /* Add border radius */
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  
  .signup-button {
    background-color: #65CBDF;
    color: white;
    border: none;
    padding: 9px 20px;
    border-radius: 15px;
    margin-right: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .signup-button:hover {
    background-color:#000000;
    transform: scale(1.05) translate(2px);
}

/* .download-button:active {
  transform: translate(-50%, -50%) scale(0.95);
} */
  
  