.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color:#4A7098;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  border-radius:35px;
  width: 80%;
  margin: 1% auto 0;
  position: relative;
}

/* Add this new rule */
body {
  margin: 0;
  padding: 0;
}
.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 24px;
  margin-right: 10px;
}

.brand-name {
  font-size: 25px;
  font-weight: bold;
}

.navbar-center {
  display: flex;
  align-items: center;
}

.navbar-center a {
  color: #FFFFFF;
  text-decoration: none;
  margin: 0 45px;
  font-size: 25px;
  transition: color 0.3s ease;
}

.navbar-center a:hover {
  color: #65CBDF;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.signup-button {
  background-color: #65CBDF;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-button:hover {
  background-color: #3367d6;
}